This is for loading dataframe

In [ ]:
import pandas as pd

# Load the Excel file and extract sheet names
excel_path = "/Users/kangkyeongmo/Desktop/Work/NYU_OUE/online_project/List of Online Graduate Programs.xlsx"
xls = pd.ExcelFile(excel_path)
sheet_names = xls.sheet_names

# Load Sheet 2 (index 1): Online Program Code
Online_Program_df = pd.read_excel(xls, sheet_name=sheet_names[1])
Online_Program_df.shape

(58, 6)

In [67]:
# Rename the join key column for consistency
Online_Program_df = Online_Program_df.rename(columns={
    'albert_plan_code_(acad_plan)': 'acad_plan'
})

In [289]:
# Load the eligible student Excel file
st_excel_path = "/Users/kangkyeongmo/Desktop/Work/NYU_OUE/online_project/Data/CM24/CM24 Registrar's Commencement Data.xlsx"
st_xls = pd.ExcelFile(st_excel_path)
sheet_names = st_xls.sheet_names

# Load Student List change the df name e.g.GR23, GR24, GR25
GR24_df = pd.read_excel(st_xls, sheet_name=sheet_names[1])

GR24_df.shape

(24148, 53)

In [288]:
# Load the scanned tickets Excel file
sc_excel_path = "/Users/kangkyeongmo/Desktop/Work/NYU_OUE/online_project/Data/CM24/CM24 Venue Ticket Scan Report as of 5-20-24 copy.xlsx"
sc_xls = pd.ExcelFile(sc_excel_path)
sheet_names = sc_xls.sheet_names

# Load Student List change the df name e.g.TIX23, TIX24, TIX25
TIX24_df = pd.read_excel(sc_xls, sheet_name=sheet_names[0])

TIX24_df.shape

(38362, 16)

In [290]:
# Standardize column names: lowercase + replace spaces with underscores
Online_Program_df.columns = Online_Program_df.columns.str.strip().str.lower().str.replace(' ', '_')
GR24_df.columns = GR24_df.columns.str.strip().str.lower().str.replace(' ', '_')
TIX24_df.columns = TIX24_df.columns.str.strip().str.lower().str.replace(' ', '_')

In [291]:
TIX24_df.head()

,event_name,venue_attendee_name,attendee_email,venue_scan_location,venue_scan_time,invitee_name,invitee_email,employee_id,school,acad_plan,degree,assignment,customer_id,order_id,ticket_notes,order_status
0,Commencement 2024,NaN,NaN,NaN,NaN,Abhishek Dixit,ad6610@stern.nyu.edu,NaN,NaN,NaN,NaN,Candidate,NaN,5447276,GATE 4,Approved
1,Commencement 2024,Andrew Zhang,az1869@stern.nyu.edu,G8 TOWER 57,2024-05-15 12:04:00,Andrew Zhang,az1869@stern.nyu.edu,NaN,NaN,NaN,NaN,Candidate,NaN,5447277,GATE 4,Approved
2,Commencement 2024,Forrest Lin,fl2094@nyu.edu,STE HH S04,2024-05-15 11:52:00,Boxuan Han,bh2761@stern.nyu.edu,NaN,NaN,NaN,NaN,Candidate,NaN,5447278,GATE 4,Approved
3,Commencement 2024,Dionna Rivers,Dcr309@stern.nyu.edu,G4 HH S05,2024-05-15 11:58:00,Dionna Rivers,dcr309@stern.nyu.edu,NaN,NaN,NaN,NaN,Candidate,NaN,5447279,GATE 4,Approved
4,Commencement 2024,Sibyl Chen,ontistudsibyl@gmail.com,G4 HH S05,2024-05-15 11:23:00,Jiaqi Chen,jc10670@stern.nyu.edu,NaN,NaN,NaN,NaN,Candidate,NaN,5447280,GATE 4,Approved

Number of total online programs

In [75]:
# How many online program we have? 
Online_Program_df['acad_plan'].head(60)

0       GCHRMDMS
1       GCMASYMS
2       GCPRWRMS
3       GCTRSCMS
4       GCTRXCMS
5       GCPRMOMS
6       GCGLSOMS
7       GCHCATMS
8       GCECOCMS
9       GCHOSPMS
10      GCTUMGMS
11      GCTRVMMS
12      GCGSCCMS
13      GCHINTMS
14      GCEVMGMS
15      UCCOTOBS
16      UCLMSOBS
17      UCSOCOBA
18     GUYUMPMPH
19    GUCCPHMPH
20     GUUMPHMPH
21      GAAMJOMA
22     LWEXPTLLM
23     LWTAPTLLM
24     LWTAXNLLM
25     LWTAXNMSL
26      GYBINFMS
27      GYCPENMS
28      GYCYBSMS
29      GYELENMS
30      GYINENMS
31      GYMGTEMS
32      GYMAENMS
33      GYORGBMS
34      GYIDMEMS
35      GYISIEME
36      GTPRODMA
37     GPHEADMHA
38     GACREAMFA
39    GBGMMBMBAP
40     GBBUSNMBA
41      LYCYBRMS
42      LWHLWSMS
43     GSFRHYMSW
44     GEYCNGUMA
45      GECNGUMA
46     GEYEMTMAT
47     GEYICEMAT
48      GEYCSDMS
49      GECSDMMS
50    GEYOTHSOTD
51     GEYOTHOTD
52     GEYCMHMA
53     GECMHWWMA
54     GEYLINEDD
55      GEYDMLMA
56      GBQTMGMS
57      GCFNPOMS
Name: acad_plan, dtype: object

Number of students in the online program

In [293]:
######################### FIX
# Load the scanned tickets Excel file
r_excel_path = "/Users/kangkyeongmo/Desktop/Work/NYU_OUE/online_project/Data/CM24/CM24 Data for Ticketmanager User Profiles as of 5-17-24 copy.xlsx"
r_xls = pd.ExcelFile(r_excel_path)
sheet_names = r_xls.sheet_names

# Load Student List 
Tman24_df = pd.read_excel(r_xls, sheet_name=sheet_names[0])

Tman24_df.shape

(23217, 14)

In [295]:
unique_Tman24_df = Tman24_df.drop_duplicates(subset='employee_id', keep='last')

# How many stdudents no dup
len(unique_Tman24_df)

21054

In [296]:
# Only 'A' in change_type for CM25 
unique_Tman24_df = unique_Tman24_df[unique_Tman24_df['change_type'] == 'A']

len(unique_Tman24_df)

19293

In [297]:
unique_Tman24_df.columns = unique_Tman24_df.columns.str.strip().str.lower().str.replace(' ', '_')

In [298]:
# Remove duplicated students 
# employee_id for CM25
# campus_id for CM23

unique_GR24 = GR24_df.drop_duplicates(subset='campus_id', keep='last')

# How many stdudents no dup
len(unique_GR24)

23856

In [299]:
unique_GR24.columns

Index(['id', 'campus_id', 'primary_first', 'primary_middle', 'primary_last',
       'preferred_first', 'preferred_middle', 'preferred_last', 'exp_grad',
       'acad_prog', 'school', 'descr', 'degree', 'descr.1', 'status',
       'action_date', 'chkoutstat', 'acad_plan', 'descr.2', 'plan_type',
       'hon_code', 'email', 'nyu_netid', 'perm_addr_1', 'perm_addr_2',
       'perm_addr_3', 'perm_addr_4', 'perm_city', 'perm_state', 'perm_zip',
       'perm_country', 'mail_addr_1', 'mail_addr_2', 'mail_addr_3',
       'mail_addr_4', 'mail_city', 'mail_state', 'mail_zip', 'mail_country',
       'dipl_addr_1', 'dipl_addr_2', 'dipl_addr_3', 'dipl_addr_4', 'dipl_city',
       'dipl_state', 'dipl_zip', 'dipl_country', 'ferpa', 'career',
       'acad_prog.1', 'srv_ind_cd', 'max_active_term', 'birthdate'],
      dtype='object')

In [300]:
final_GR24 = pd.merge(
    unique_GR24,
    unique_Tman24_df,
    left_on='campus_id',
    right_on='employee_id',
    how='inner'
)

In [301]:
final_GR24

,id,campus_id,primary_first,primary_middle,primary_last,preferred_first_x,preferred_middle,preferred_last,exp_grad,acad_prog,...,email_y,first_name,last_name,preferred_first_y,department,customer_id,school_y,degree_y,acad_plan_y,region
0,14950531,N13466877,Camila,Michelle,Mancebo,Camila,NaN,Mancebo,1244,UCMAA,...,cmm10051@nyu.edu,Camila,Mancebo,Camila,1244.0,cmm10051,Schl of Prof Studies UG,AA,Liberal Arts,3.0
1,14790495,N18844886,Emily,NaN,Bustrum,Emily,Paris,Bustrum,1244,UGALL,...,eb4003@nyu.edu,Emily,Bustrum,Emily,1244.0,eb4003,Gallatin Schl of Ind Study UG,BA,Individualized Major,3.0
2,14978305,N19244018,Io,Marcela,Manfredy Colon,Io Marcela,NaN,Manfredy Colon,1244,UGALL,...,imm7665@nyu.edu,Io,Manfredy Colon,Io Marcela,1244.0,imm7665,Gallatin Schl of Ind Study UG,BA,Individualized Major,3.0
3,14934014,N14582986,Aidan,Chapman,Mo,Aidan,NaN,Mo,1244,USOCW,...,acm9552@nyu.edu,Aidan,Mo,Aidan,1244.0,acm9552,Silver Schl of Social Work UG,BS,Social Work,3.0
4,14835934,N16423976,Natalia,Alexandra,Kempthorne-Curiel,Natalia,NaN,Kempthorne-Curiel,1244,UARTS,...,nak9128@nyu.edu,Natalia,Kempthorne-Curiel,Natalia,1244.0,nak9128,Coll of Arts & Science UG,BA,Environmental Studies,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18242,10737405,N16241697,Stuart,Walter,Gold,Stuart,NaN,Gold,1238,GGALL,...,swg230@nyu.edu,Stuart,Gold,Stuart,1238.0,swg230,Gallatin Schl of Ind Study GR,MA,Individualized Study,3.0
18243,15127094,N14741933,Robert,Bruce,Merrell,R. Bruce,NaN,Merrell,1236,GCSCP,...,rbm9962@nyu.edu,Robert,Merrell,R. Bruce,1236.0,rbm9962,Schl of Prof Studies GR,MS,Exec Coaching & Org Consulting,3.0
18244,10263855,N14980174,Anita,NaN,Pecorara,Anita,NaN,Pecorara,1244,GARTS,...,ap1516@nyu.edu,Anita,Pecorara,Anita,1244.0,ap1516,Grad Schl of Arts & Science,CERT,Psychology: Psychthrpy/Psychan,3.0
18245,10782780,N17692006,Carolyn,Elizabeth,Bell,Carolyn,NaN,Bell,1244,UCMCG,...,ceb2087@nyu.edu,Carolyn,Bell,Carolyn,1244.0,ceb2087,Schl of Prof Studies UG,BA,Social Sciences,3.0
18246,15130477,N12081185,Paul,Melvin,Troop,Paul,NaN,Troop,1244,UCMCG,...,pmt9066@nyu.edu,Paul,Troop,Paul,1244.0,pmt9066,Schl of Prof Studies UG,BA,Social Sciences,3.0

In [302]:
# Confirm the exact column names to join on

# Now perform the inner join
filtered_GR24 = final_GR24[final_GR24['acad_plan_x'].isin(Online_Program_df['acad_plan'])]

# How many Student are in the online program
filtered_GR24.shape

(2858, 67)

What are thoese online program?

In [327]:
# What online programs?
filtered_GR24['acad_plan_x'].unique()

array(['GUUMPHMPH', 'GYIDMEMS', 'GYCYBSMS', 'GYMGTEMS', 'GCMASYMS',
       'GYCPENMS', 'GYELENMS', 'GUYUMPMPH', 'GYINENMS', 'GCHOSPMS',
       'GAAMJOMA', 'GACREAMFA', 'GCHRMDMS', 'GYBINFMS', 'GBBUSNMBA',
       'GECSDMMS', 'GCGSCCMS', 'GEYCSDMS', 'GCEVMGMS', 'GCGLSOMS',
       'GBQTMGMS', 'GCPRWRMS', 'GCTUMGMS', 'GCHCATMS', 'GCTRSCMS',
       'GCPRMOMS', 'GPHEADMHA', 'GBGMMBMBAP', 'LWTAXNLLM', 'LWEXPTLLM',
       'GCECOCMS', 'LYCYBRMS', 'LWTAPTLLM', 'GEYLINEDD', 'GEYOTHOTD',
       'UCSOCOBA', 'LWTAXNMSL'], dtype=object)

How many online programs out of total?

In [328]:
# Number of online program? Total is 58
filtered_GR24['acad_plan_x'].nunique()

37

How many students are in the each program?

In [307]:
# How many students are in each program?
filtered_GR24['acad_plan_x'].value_counts()

acad_plan_x
GBGMMBMBAP    512
GYCPENMS      431
GYMGTEMS      301
GYCYBSMS      244
GUUMPHMPH     242
GCMASYMS      168
GEYCSDMS      106
GYIDMEMS       83
GACREAMFA      66
GYELENMS       62
LWTAXNLLM      54
GCHRMDMS       54
GYINENMS       47
GBQTMGMS       38
GUYUMPMPH      36
GCEVMGMS       33
GCGSCCMS       32
GECSDMMS       31
LYCYBRMS       30
LWEXPTLLM      29
GEYLINEDD      28
GYBINFMS       27
GCHOSPMS       25
GPHEADMHA      21
GBBUSNMBA      21
GCPRMOMS       19
GAAMJOMA       19
GCPRWRMS       18
GCTUMGMS       15
GCTRSCMS       13
LWTAPTLLM      13
GCHCATMS       12
GCECOCMS       12
GEYOTHOTD       6
GCGLSOMS        5
UCSOCOBA        3
LWTAXNMSL       2
Name: count, dtype: int64

## Ticketing 
How many students ordered tickets?
Ticket Types?

In [321]:
# customer_id for CM25 and campus_id for CM23 and 45
# 
TIX24_df = TIX24_df[TIX24_df['employee_id'].isin(filtered_GR24['campus_id'])]

TIX24_df.shape

(4219, 16)

Ticket Type

CM23 doesn't have assignment

In [314]:
# Remove rows where assignment is 'volunteer'
TIX24_df = TIX24_df[~TIX24_df['ticket_notes'].str.lower().eq('univ guest suite').fillna(False)]

In [322]:
# What types of tickets we have and how many
# assignment for CM24 & CM25
# ticket_notes for CM23
print(TIX24_df['assignment'].value_counts())

assignment
Guest        2517
Candidate    1698
Other           4
Name: count, dtype: int64

In [ ]:

# Keep only the first occurrence of each assignment per employee_id for CM24 
# each ticket_notes per employee_id for CM23
# No need for CM25
unique_TIX25 = TIX25_df.drop_duplicates(subset=['employee_id', 'assignment'], keep='first')

# Confirm max 3 assignments per employee
unique_TIX25['employee_id'].value_counts().max()

3

Merge two dfs in final one

In [323]:
# Then merge on campus_id (from GR**) == employee_id (from TIX**)
merged_df = pd.merge(
    filtered_GR24,
    TIX24_df,
    left_on='campus_id',
    right_on='employee_id',
    how='inner'
)

In [318]:
# See all column names
print(merged_df.columns.tolist())

['id', 'campus_id', 'primary_first', 'primary_middle', 'primary_last', 'preferred_first_x', 'preferred_middle', 'preferred_last', 'exp_grad', 'acad_prog', 'school_x', 'descr', 'degree_x', 'descr.1', 'status', 'action_date', 'chkoutstat', 'acad_plan_x', 'descr.2', 'plan_type', 'hon_code', 'email_x', 'nyu_netid', 'perm_addr_1', 'perm_addr_2', 'perm_addr_3', 'perm_addr_4', 'perm_city', 'perm_state', 'perm_zip', 'perm_country', 'mail_addr_1', 'mail_addr_2', 'mail_addr_3', 'mail_addr_4', 'mail_city', 'mail_state', 'mail_zip', 'mail_country', 'dipl_addr_1', 'dipl_addr_2', 'dipl_addr_3', 'dipl_addr_4', 'dipl_city', 'dipl_state', 'dipl_zip', 'dipl_country', 'ferpa', 'career', 'acad_prog.1', 'srv_ind_cd', 'max_active_term', 'birthdate', 'date', 'file_type', 'change_type', 'employee_id_x', 'email_y', 'first_name', 'last_name', 'preferred_first_y', 'department', 'customer_id_x', 'school_y', 'degree_y', 'acad_plan_y', 'region', 'event_name', 'venue_attendee_name', 'attendee_email', 'venue_scan_location', 'venue_scan_time', 'invitee_name', 'invitee_email', 'employee_id_y', 'school', 'acad_plan', 'degree', 'assignment', 'customer_id_y', 'order_id', 'ticket_notes', 'order_status']

In [325]:
# keeping all overlapping columns, just provide custom suffixes that don't conflict with existing names
final_df = pd.merge(
    merged_df,
    Online_Program_df,
    left_on='acad_plan_x',
    right_on='acad_plan',
    how='left',
    suffixes=('_left', '_right')  # avoid _x/_y conflict
)

In [324]:
# Final Merge, but I need to manually inspect
final_df = pd.merge(
    merged_df,
    Online_Program_df,
    left_on='acad_plan_x',
    right_on='acad_plan',
    how='left'
)

MergeError: Passing 'suffixes' which cause duplicate columns {'school_x', 'acad_plan_x'} is not allowed.

In [326]:
# Save as Excel. Don't forget change file name
final_df.to_excel("CM24_Online_Tix.xlsx", index=False)